@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome */
    .no-scrollbar::-webkit-scrollbar,
     body::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar */
    .no-scrollbar-custom {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
}
}
body{
    cursor: pointer;
}
.enhanced-image{
    mix-blend-mode: multiply;
    filter: 
      contrast(120%)     /* Increase contrast */
      brightness(100%)   /* Adjust brightness */
      saturate(100%)     /* Increase saturation */
      hue-rotate(4deg)   /* Slight hue adjustment */
}
